.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.App #wrapper > div {
  background-color: rgba(250, 250, 250, 0.048);
  padding: 0.5rem;
}
.App #wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.App #wrapper div {
  margin: 2rem;
}
